.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    height: auto;
}

.contenedor_inputs{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.contenedor_input{
  width: 100%;
}

.label{
  font-size: .8rem;
}

.boton_formulario {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(79, 70, 229, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}


.boton_formulario:hover {
  background: linear-gradient(135deg, #4338ca, #4f46e5);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(79, 70, 229, 0.4);
}

.boton_formulario:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(79, 70, 229, 0.2);
}


