iframe{
    height: 70vh;
}

.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    margin: 5rem;
}

.contenedor_datos{
    display: flex;
    gap: 20px;
}

.imagen{
    width: 200px;
}

.informacion_pelicula{
    padding: 15px 0;
}

.titulo_año{
    display: flex;
    gap: 10px;
}

.titulo,
.año{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 650;
}

.contenedor_categoria{
    display: flex;
}

.categoria{
    color: #fff;
    font-size: 15px;
}

.span{
    font-weight: 550;
}

.contenedor_descripcion{
    width: 300px;
    margin: 20px 0 0 0;
}

.descripcion{
    color: #ffffffbe;
    font-size: 13px;
    display: flex;
    text-align: start;
    line-height: 1.5rem;
}

.loader{
    background-color: #000;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}