.modal_overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1000;
}

.modal_content {
    background:var(--color-claro);
    width: 400px;
    padding: 16px 24px;
    border-radius: 8px;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.okey
{
    width: 50px;
}