.footer {
  background-color: var(--color-primary);
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedor_footer{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary);
  gap: 1rem;
}

.contenedor_imagen{
  background-color: rgb(13, 13, 119);
  height: 5rem;
}

.contenedor_formulario{
  background-color: blue;
  width: 100%;
  display: flex;
}

.redes {
  display: flex;
  gap: 15px;
  font-size: 20px;
  background-color: black;
  width: 100%;

}

.redes a {
  color: #fff;
  transition: 0.2s;
}

.redes a:hover {
  scale: 1.1;
}

.svg {
  width: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #fff;
  width: 100%;
  height: 3.2rem;
  align-items: center;
  padding: 10px 0;
}

.contenedor_derechos{
}
.texto_derechos{
  font-size: .7rem;
  color: #fff;
  font-weight: 600;
}

.contenedor_autor{
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}
.terminos,
.autor{
  color: var(--color-white);
  font-size: .7rem;
  color: #fff;
  font-weight: 600;
}


  .linkedin:hover{
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px #fff;
  transition: .3s;
  scale: 1.1;
}

