.contenedor_barra_buscadora {
    margin: 1.6rem 0;
    display: flex;
    width: 90%;
    height: 38px;
    position: relative;
    align-items: center;
    box-sizing: border-box;
}

.form{
    width: 100%;
    height: 2.5rem;
}

.lupa {
    position: absolute;
    width: 24px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.barra_buscadora {
    width: 100%;
    height: 100%;
    padding-left: 40px; /* Espacio para que el texto no tape la lupa */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.contenedor_productos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:1rem ;
}

.referencia_titulo_productos{
    width: 90%;
    height: 2rem;
    display: flex;
}

.titulos_productos{
    font-weight: 600;
    font-size: .8rem;
}

.contenedor_svg{
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.contenedor_informacion_productos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.barra_producto{
    background-color: rgba(145, 145, 145, 0.067);
    width: 90%;
    height: 3.5rem;
    align-items: center;
    display: flex;
    border-top: 1px solid #0000001e;
}

.svg_producto{
    width: 2rem;
}

/*aca va el parrafo de la informacion de producto*/
.informacion_producto {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


.boton_eliminar{
    background-color: rgb(184, 11, 11);
}
.boton_actualizar{
    background-color: rgb(93, 226, 226);
}

.boton_actualizar,
.boton_eliminar{
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    width: 2rem;
    height: 1.8rem;
    border-radius: 3px;
    svg{
        width: 1.1rem;
    }
}