

:root {
    --font: "Montserrat", serif;
    --color-primary: #ac2020; /* Rojo vino, elegante y serio */
    --color-secundary: #D32F2F; /* Rojo intenso pero no chillón */
    --color-claro:#f8f6f4;
    --color-tercero: #7B1E1E; /* Rojo oscuro, sofisticado */
    --color-white: #FFFFFF; /* Blanco puro */
    --color-black: #1C1C1C; /* Negro con un leve toque grisáceo para suavizar */
}

*{
    box-sizing: border-box
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    font-family: var(--font);
}





