html{
    color-scheme: light dark;
}

:root {
    --font: "Montserrat", serif;
    --color-secundary: #3b3b3b;
    --color-tercero: #868686;
    --color-claro: #fefefe;
    --color-primary: #121212;
}

[data-theme="light"] {
    color-scheme: light;
    --color-primary: #121212;
    --color-claro: #fefefe;
}

[data-theme="dark"] {
    color-scheme: dark;
    --color-primary: #fefefe;
    --color-claro: #121212;
}


*{
    box-sizing: border-box
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    font-family: var(--font);
}





