.contenedor{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: red;
}

.contenedor h2{
    margin: 1rem 0 1rem 0;
    color: var(--color-black);
    font-weight: 600;
    font-size: 44px;
}
.contenedor p{
    font-size: 20px;
    color: var(--color-black);
    margin-bottom:3rem ;
}

.contenedor_formulario{
    padding: 0 1rem;
}