.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 80vh;
}

.error {
    font-size: 10em;
    color: red;
    margin: 0;
}

.text_error {
    font-size: 5.5em;
    color: #333;
    margin: 10px 0;
}
